<div id="contact">
	<div class="row">
		<div class="offset1">
			<%= image_tag("contact-icon.png", alt: "Contact Us", class: "page-icon" ) %>
			<h8>
				Contact Us
			</h8>
		</div>
		<div class="offset1">
			<br/>
			<br/>
			<span style='color: #28b3e8; font-weight: bold;'>Email: </span>
			<span>info@sales4startups.org</span><br>
			<span style='color: #28b3e8; font-weight: bold;'>Phone: </span>
			<span>+1.415.503.7060</span><br>
			<span style='color: #28b3e8; font-weight: bold;'>Address: </span>
			<span>300 Brannan Street, Suite 308 <br>
			    San Francisco, CA 94107</span>
		</div>
		<!-- <%= render 'forms/contact_form' %> -->
		<a class="btn btn-large btn-primary offset1" id="contact-button" href="http://sales4startups.wufoo.com/forms/z7x3p9/" onclick="window.open(this.href,  null, 'height=577, width=680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">Send us a message!</a>
	</div>
</div>
