<div id="jobs">
	<div class="offset1">
		<%= image_tag("jobs-icon.png", alt: "Startup Jobs", class: "page-icon" ) %>
		<h7>
			Startup Jobs
		</h7>
	</div>
	<div class="span10">
		<p>
			We have relationships with startups all over the United States, Latin America, </br>
			and Europe. Send us your resume with your location in the title (i.e. Austin, TX) </br>
			and we'll send it off to a few cool startups.
			</br>
			</br>
			<span style='color: #28b3e8;'>Send To: </span> Startupjobs@sales4startups.org
			<%= image_tag("jobs-blueline.png", alt: "Startup Jobs", class: "page-icon" ) %></br></br>
			<div class="row">
				<div class="span1">
					<%= image_tag("jobs-bluearrow.png", alt: "Startup Jobs", class: "page-icon", id:"arrow" ) %>
				</div>
				<div class="span3">
					<p6>
					Want to find something now? </br>
					Check out our friends at Glenborn.
					</p6>
				</div>
				<div class="span3">
					<%= link_to image_tag("jobs-glenborn.png", alt: "Glenborn", class: "page-icon" ), "http://www.glenborn.com/active-job-listings" %>
				</div>
			</div>
		</p>
	</div>
</div>
