<div class="row">
	<div class="span6">
		<p>
			<label>First Name*</label>
			<input type="text" ></input>
			<label>Last Name*</label>
			<input type="text" ></input>
			<label>Email*</label>
			<input type="text" ></input>
			<label>Company</label>
			<input type="text" ></input>
		</p>
	</div>
	<div class="span6">
		<p>
			<label>Message*</label>
			<textarea id="message-box"></textarea><br>
			<button id="send-button" type="submit" class="btn btn-warning btn-large">Send</button><br>
		</p>
	</div>	
</div>	
