<input id="event-form" type="text" placeholder="Enter your email to receive event updates"></input>
<button id="signup-button" type="submit" class="btn btn-warning btn-large">Sign up</button><br>
<%= image_tag("lock.png", alt: "Secure", id:"lock-icon" ) %>
<p2> Don't worry - your email is never shared. Ever. We promise.</p2>
