<div class="row">
	<div class="span5">
		<input type="text" placeholder="Enter Your Full Name"></input>
		<input type="text" placeholder="Enter Your Email Address"></input>
	</div>
	<div class="span1">
		<button id="send-button" type="submit" class="btn btn-warning btn-large">Send</button><br>
	</div>
</div>