<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to image_tag("S4S-Logo-Large.png", alt: "Sales4Startups", id: "s4s-logo" ), root_path %>
	  <nav>
        <ul id="toc" class="nav pull-right">
		 <li><a title="$.scrollTo( '#events' );"href=#events>Events</a></li>
		 <li><a title="$.scrollTo( '#services' );" href="#services">Services</a></li>
		 <li><a title="$.scrollTo( '#apps' );" href="#apps">Apps</a></li>
		 <li><a title="$.scrollTo( '#community' );" href="#community">Community</a></li>
		 <li><a title="$.scrollTo( '#jobs' );" href="#jobs">Startup Jobs</a></li>
		 <li><a title="$.scrollTo( '#about' );" href="#about">About Us</a></li>
		 <li><a title="$.scrollTo( '#contact' );" href="#contact">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
