<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to image_tag("S4S-Logo-Large.png", alt: "Sales4Startups", id: "s4s-logo" ), root_path %>
	  <nav>
        <ul id="toc" class="nav pull-right">
		 <li><a title="$.scrollTo( '#events', 800 );" href="#events">Events</a></li>
		 <li><a title="$.scrollTo( '#services', 800 );" href="#services">Services</a></li>
		 <li><a title="$.scrollTo( '#apps', 800 );" href="#apps">Apps</a></li>
		 <li><a title="$.scrollTo( '#community', 800 );" href="#community">Community</a></li>
		 <li><a title="$.scrollTo( '#jobs', 800 );" href="#jobs">Startup Jobs</a></li>
		 <li><a title="$.scrollTo( '#about', 800 );" href="#about">About Us</a></li>
		 <li><a title="$.scrollTo( '#contact', 800 );" href="#contact">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
